<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCUBktpYDcTlGzcONt8caeb7rgUxAa0ESc</string>
	<key>GCM_SENDER_ID</key>
	<string>384363895163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uz.w2w.andersenlegal</string>
	<key>PROJECT_ID</key>
	<string>andersen-legal</string>
	<key>STORAGE_BUCKET</key>
	<string>andersen-legal.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384363895163:ios:13173c80eee073a60bc5de</string>
</dict>
</plist>